header{
    .header_nav{
        @extend .flex-row;
        @extend .container;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        flex-wrap: wrap;
    }
    .header_img{
        width: 100px;
    }
    .header_ul{
        @extend .flex-row;
        gap: 25px;
    }
    .efecto_header{
        transition: all .5s ease-in;

        &:hover{
            font-size: 19px;
            color: #ff6347 !important;
            font-weight: bold;
        }
    }
}


@media screen and (max-width:768px) {
    
    .header_nav{
        justify-content: center;
    }
    .header_ul{
        display: none;
    }
}