
.section11{
    padding: 30px 0px;

    &_sub{
        @extend .container;
        @extend .flex-row;
        justify-content: space-around;
    }
    &_subcontenedor{
        width: 45%;
        padding: 20px 0px;
    }

}


@media screen and (max-width:768px){

    .section11_sub{
        flex-wrap: wrap;
    }

    .section11_subcontenedor{
        width: 90%;
        text-align: center;
    }
}