
.section11{
    padding: 30px 0px;

    &_sub{
        @extend .container;
        @extend .flex-row;
        justify-content: space-around;
    }
    &_subcontenedor{
        width: 45%;
        padding: 20px 0px;
    }

}