//RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$estilos: (
    decoracion-header: none,
    color-header: black,
    vista1: inline-block,
    vista2: block,
    img-normalizador: 100%,
    margenes: 15px 0px,
    ancho-form: 80%,
    relleno-interior: 10px,
    cursiva-boton: 6px,
    borde-form: 2px solid #ffe284
);

//GLOBALES
p,ul{
    font-family: 'Comfortaa', cursive;
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a{
    text-decoration: map-get($estilos, decoracion-header);
    color: map-get($estilos, color-header);
    display: map-get($estilos, vista1);
}
ul{
    list-style: map-get($estilos, decoracion-header);
}
img{
    width: map-get($estilos, img-normalizador);
}
input, textarea{
    display: map-get($estilos, vista2);
    margin: map-get($estilos, margenes);
    width: map-get($estilos, ancho-form);
    padding: map-get($estilos, relleno-interior);
    border-radius: map-get($estilos, cursiva-boton);
    border: map-get($estilos, borde-form);
}